/* 
Theme Name: DePaul Theme
Description: The theme to be used by DePaul Library blogs
Author: M Ryan Hess
Version: 0.0.2
Template: flat-bootstrap

*/

@import url('../flat-bootstrap/style.css');

#page, .navbar, .after-footer {max-width:none;}

.site-logo
	{
	background:#385f8a;
	background:-moz-linear-gradient(top,#385f8a 0%,#2b4c72 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#385f8a),color-stop(100%,#2b4c72));
	background:-webkit-linear-gradient(top,#385f8a 0%,#2b4c72 100%);
	background:-o-linear-gradient(top,#385f8a 0%,#2b4c72 100%);
	background:-ms-linear-gradient(top,#385f8a 0%,#2b4c72 100%);
	background:linear-gradient(to bottom,#385f8a 0%,#2b4c72 100%);
	padding-bottom: 20px;
	}	

.logo-short {margin-top:25px; padding-right:25px; border-right:solid #FFF 2px;}

.depaul-branding {margin-top:25px; color:#FFF; font-size: 26px; font-weight:bold; float:left; padding-left:20px;}

.site-description {color:#565656; font-size:18px;}

.site-title a, .site-title a:focus {color:#565656; font-size:36px; font-weight:500;}

.site-title a:hover {color:#203957; font-size:36px; text-decoration:none;}

a {color: #005c96;}

a:hover, a:focus {color: #203957;}

button,
html input[type="button"],
input[type="submit"] {
    color: #fff;
    background-color: #203957;
    border-color: #203957;
    background-image: none;
	font-size: 16px;
	line-height: 22px;
	padding: 6px 12px;
    border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    outline: 0;
}
button:hover, 
button:focus,
html input[type="button"]:hover, 
html input[type="button"]:focus,
input[type="submit"]:hover, 
input[type="submit"]:focus {
    color: #fff;
    background-color:#385f8a;
    border-color: #385f8a;
    outline: 0;
}

.btn-primary {background-color:#385f8a!important;}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary 
	{background-color:#203957!important; border-color:#203957!important;}
	
	
.content-header {background-color:#F2F2F2;}
.content-header h1, h2, h3, h4, h5 {color:#565656;}
	
