/*
Theme Name: Matata Child Theme
Template: matata
Author: JusThemes
Description: Child theme for the Matata theme
Version: 1.2
Updated: 2017-07-07 11:52:06

*/

@import url('../matata/style.css');

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
background: #385f8a;
}
#masthead nav {
	border-top: 4px solid #385f8a;
}
a {
	color: #385f8a;
}
.main-navigation li:hover > a,
.main-navigation li.focus > a,
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a,
.posts-navigation .nav-previous a,
.posts-navigation .nav-next a,a.more-link,
#comments .reply a {
	background-color: #385f8a;
}
.widget .widget-title {
	border-bottom: 4px solid #385f8a;
}

/* Copied from customize CSS option */

.top-bar
	{
	all: none;
	}
	

.site-logo
	{
	all: none;
	}
	
.logo-short
	{
	all: none;
	}
	
.top-bar 
	{
	background:#385f8a;
	background:-moz-linear-gradient(top,#385f8a 0%,#2b4c72 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#385f8a),color-stop(100%,#2b4c72));
	background:-webkit-linear-gradient(top,#385f8a 0%,#2b4c72 100%);
	background:-o-linear-gradient(top,#385f8a 0%,#2b4c72 100%);
	background:-ms-linear-gradient(top,#385f8a 0%,#2b4c72 100%);
	background:linear-gradient(to bottom,#385f8a 0%,#2b4c72 100%);
	padding-bottom: 20px;
	}	

.site-logo
	{
	background:#385f8a;
	background:-moz-linear-gradient(top,#385f8a 0%,#2b4c72 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#385f8a),color-stop(100%,#2b4c72));
	background:-webkit-linear-gradient(top,#385f8a 0%,#2b4c72 100%);
	background:-o-linear-gradient(top,#385f8a 0%,#2b4c72 100%);
	background:-ms-linear-gradient(top,#385f8a 0%,#2b4c72 100%);
	background:linear-gradient(to bottom,#385f8a 0%,#2b4c72 100%);
	padding-bottom: 20px;
	}	

.logo-short
	{
	margin-top:25px; 
	padding-right:25px; 
	padding-left: 10px;
	border-right:solid #FFF 2px;
	}

.depaul-branding 
	{
	margin-top:14px; 
	color:#FFF; 
	font-size: 26px; 
	font-weight:bold; 
	font-family: Helvetica, Arial, sans-serif;
	float:left; 
	padding-left:20px;
	vertical-align: top;
	}

.top-menu {
	clear: both;
	display: block;
	float: left;
	width: auto;
}

.top-menu ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.top-websites
	{
	text-align: right;
	font-weight: bold;
	font-size: small;
	}
